<link rel='stylesheet' href="../styles/home.css">
<div class="container-fluid">
    <div class="row main">
    <h1>nh-fcc-shortify</h1>
    <blockquote>
        <p>This is a micro-service API built as part of FreeCodeCamp's curriculum.</p>
        <p>Passing a url to the <code>/shorten</code> path of this site will give back a JSON object with a "shortened" URL.</p>
        <p>URLs passed must be of the format <code>http://wwww.example.com/anything-here</code></p>
        <p>Using the URL that was returned will direct you to the site that was put in.</p>
        <p>Passing an invalid URL will return a JSON object with an error.</p> 
    </blockquote>
    <h2>Example Request</h2>
    <code><a href="http://&#8203;nh-fcc-shortify.herokuapp.com/shorten/http://facebook.com" target="_blank">http://nh-fcc-shortify.herokuapp.com/shorten/http://www.facebook.com</a></code>
    <h3>Output</h3>
    <code>{ "url":"http://nh-fcc-shortify.herokuapp.com/3"}</code>
    </div>
    <div class="row contact">
        Heinrich Malan | <a href="http://eaae.com.au/heinrich.html">Portfolio</a>
    </div>
</div>
